@font-face {
	font-family: Poppins;
	src: url('./fonts/Poppins-Light.woff') format(woff);
	font-weight: 300;
}

@font-face {
	font-family: Poppins;
	src: url('./fonts/Poppins-Medium.woff') format(woff);
	font-weight: 500;
}

@font-face {
	font-family: Poppins;
	src: url('./fonts/Poppins-Bold.woff') format(woff);
	font-weight: 700;
}

@font-face {
	font-family: Roboto;
	src: url('./fonts/Roboto-Regular.woff') format(woff);
	font-weight: 400;
}

@font-face {
	font-family: Roboto;
	src: url('./fonts/Roboto-Medium.woff') format(woff);
	font-weight: 500;
}

@font-face {
	font-family: Roboto;
	src: url('./fonts/Roboto-Bold.woff') format(woff);
	font-weight: 700;
}

:root {
	--very-dark-blue: rgb(51, 70, 128);
	--light-blue: rgb(30, 134, 255);
	--very-light-blue: rgb(246, 247, 251);
	--dark-gray: rgb(40, 37, 56);
	--gray: rgb(185, 189, 207);
	--very-light-gray: rgb(242, 242, 242);
	--transparent-black: rgb(0, 0, 0, 0.1);
	--white: rgb(255, 255, 255);
}

body {
	padding: clamp(0.75rem, 4vw, 2rem) clamp(0.75rem, 6.25vw, 7.5rem);

	background-color: var(--very-light-blue);

	font-family: Poppins, 'sans-sefir';
}
